#Discord API Stuff
DiscordAPI:
  #Discord API Token
  Token :  

#Spotify User Stuff
SpotifyUser:
  #Spotify Username
  username :
  #Spotify Playlist ID  
  playlist_ID :  

#Spotify API Stuff
SpotifyAPI:
  #Spotify Applikation ID  
  client_id :
  #Spotify Applikation Secret    
  client_secret :  